---
import { useTranslations } from "../i18n/utils"
import Footer from "./Footer.astro"

const lang = Astro.params.language
const url = Astro.url.href
const urlArray = url.split("/")
const esUrl = urlArray.slice(0, 3).join("/") + "/es/" + urlArray.slice(4, urlArray.length).join("/")
const enUrl = urlArray.slice(0, 3).join("/") + "/en/" + urlArray.slice(4, urlArray.length).join("/")
const ruUrl = urlArray.slice(0, 3).join("/") + "/ru/" + urlArray.slice(4, urlArray.length).join("/")

const esLiAnchor = '<li><a href="' + esUrl + '">Español</a></li>'
const enLiAnchor = '<li><a href="' + enUrl + '">English</a></li>'
const ruLiAnchor = '<li><a href="' + ruUrl + '">Русский</a></li>'

const t = useTranslations(lang)
---

<aside
  id="language-menu"
  class="pointer-events-none fixed bottom-0 left-0 right-0 top-0 z-30 flex flex-col items-center justify-center bg-white/50 opacity-0 backdrop-blur-sm duration-500"
  onclick="toggleLanguageMenu(event.stopPropagation())"
>
  <div id="menu" class="z-50 font-heming text-2xl [&>ul>li]:mb-5">
    <ul class="flex flex-col items-center" id="languages">
      {
        lang == "es" ? (
          <>
            <Fragment set:html={esLiAnchor} />
            <Fragment set:html={enLiAnchor} />
            <Fragment set:html={ruLiAnchor} />
          </>
        ) : lang == "en" ? (
          <>
            <Fragment set:html={enLiAnchor} />
            <Fragment set:html={esLiAnchor} />
            <Fragment set:html={ruLiAnchor} />
          </>
        ) : (
          <>
            <Fragment set:html={ruLiAnchor} />
            <Fragment set:html={enLiAnchor} />
            <Fragment set:html={esLiAnchor} />
          </>
        )
      }
    </ul>
  </div>
  <Footer Classes=" fixed bottom-0 right-0 left-0 !flex-row" />
</aside>
