---
import Project from "../components/Project.astro"
import { getLangFromUrl, useTranslations } from "../i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const driverjsLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://driverjs.com/">
    <img class="w-7" src="/driverjs-logo.svg" alt="driverjs logo" />
  </a>
`
const tailwindLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://tailwindcss.com/">
    <i class="devicon-tailwindcss-plain text-3xl"></i>
  </a>
`
const angularLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://angular.io/">
    <i class="devicon-angularjs-plain text-3xl"></i>
  </a>
`
const astroLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://astro.build/">
    <img class="w-7" src="/astro-logo.svg" alt="driverjs logo" />
  </a>
`
const ionicLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://ionicframework.com/">
    <i class="devicon-ionic-original text-3xl"></i>
  </a>
`
const capacitorLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://capacitorjs.com/">
    <img class="w-7" src="/capacitor-logo.svg" alt="capacitor logo" />
  </a>
`
const figmaLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://www.figma.com/">
    <i class="devicon-figma-plain text-3xl"></i>
  </a>
`
const mySQLLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://www.mysql.com/">
    <i class="devicon-mysql-plain text-3xl"></i>
  </a>
`
const phpLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href={"https://www.php.net/manual/en/intro-whatis.php"}>
    <i class="devicon-php-plain text-3xl"></i>
  </a>
`
const firebaseLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://firebase.google.com/">
    <i class="devicon-firebase-plain text-3xl"></i>
  </a>
`
const javaLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://www.java.com/en/">
    <i class="devicon-java-plain text-3xl"></i>
  </a>
`
const androidStudioLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://developer.android.com/">
    <i class="devicon-androidstudio-plain text-3xl"></i>
  </a>
`
const xcodeLogo = `
  <a class="hover:scale-110 duration-200" target="_blank" href="https://developer.apple.com/xcode/">
    <i class="devicon-xcode-plain text-3xl"></i>
  </a>
`
// const Logo = `
//   <a class="hover:scale-110 duration-200" target="_blank" href="https://firebase.com">
//     <i class="devicon-firebase-plain text-3xl"></i>
//   </a>
// `
---

<section id="projects" class="mb-5 scroll-mt-24 pt-6">
  <h2 class="mb-11 text-center font-heming text-5xl font-bold">{t("Projects")}</h2>
  <div class="flex flex-wrap gap-px">
    <Project
      title="Atum Mobile App"
      description={t("atumDescription")}
      imgUrl="/atum.webp"
      url="https://stockmanagementlabs.com/addons/atum-mobile-app/"
    >
      <Fragment slot="techs" set:html={ionicLogo} />
      <Fragment slot="techs" set:html={angularLogo} />
      <Fragment slot="techs" set:html={capacitorLogo} />
      <Fragment slot="techs" set:html={firebaseLogo} />
      <Fragment slot="techs" set:html={xcodeLogo} />
      <Fragment slot="techs" set:html={androidStudioLogo} />
    </Project>
    <Project
      title="Zaax Golf App"
      description={t("zaaxDescription")}
      imgUrl="/zaax.webp"
      url="https://zaaxsports.com/"
    >
      <Fragment slot="techs" set:html={angularLogo} />
      <Fragment slot="techs" set:html={ionicLogo} />
      <Fragment slot="techs" set:html={capacitorLogo} />
    </Project>
    <Project
      title="Milv.es"
      description={t("milvDescription")}
      imgUrl="/milv.webp"
      url="https://milv.es/app/#/login"
    >
      <Fragment slot="techs" set:html={angularLogo} />
      <Fragment slot="techs" set:html={phpLogo} />
      <Fragment slot="techs" set:html={mySQLLogo} />
      <Fragment slot="techs" set:html={figmaLogo} />
    </Project>
    <!-- ! https://milv.es/app/#/livescoring/75 -->
    <Project
      title="Tasle"
      description={t("tasle")}
      imgUrl="/tasle.webp"
      url="https://ferranjs.github.io/tasle/"
    >
      <Fragment slot="techs" set:html={astroLogo} />
      <Fragment slot="techs" set:html={tailwindLogo} />
      <Fragment slot="techs" set:html={driverjsLogo} />
    </Project>
    <Project
      title="La Velada 3 remake"
      description={t("lavelada3remakeDescription")}
      imgUrl="/lavelada3remake.webp"
      url="https://ferranjs.github.io/lavelada-remake/"
    >
      <Fragment slot="techs" set:html={astroLogo} />
      <Fragment slot="techs" set:html={tailwindLogo} />
      <Fragment slot="techs" set:html={driverjsLogo} />
    </Project>
    <Project title="Discordish" description={t("discordishDescription")} imgUrl="/discordish.webp">
      <Fragment slot="techs" set:html={angularLogo} />
      <Fragment slot="techs" set:html={firebaseLogo} />
      <Fragment slot="techs" set:html={capacitorLogo} />
      <Fragment slot="techs" set:html={tailwindLogo} />
      <Fragment slot="techs" set:html={driverjsLogo} />
    </Project>
    <Project
      title="3D Potato Studios"
      description={t("potatostudiosDescription")}
      imgUrl="/3dpotatostudiosplaceholder.webp"
    >
      <Fragment slot="techs" set:html={figmaLogo} />
    </Project>
    <!-- <Project
      title="This website"
      description="Built almost in its totality in a few days."
      imgUrl="/thiswebsite.webp"
    > -->
  </div>
</section>
