---
import ExternalLink from "./ExternalLink.astro"

const { title, description, imageName, imageUrl, imageAlt, url, slug } = Astro.props
import { Image } from "astro:assets"
---

<article
  class="group/article relative aspect-[9/7] w-full rounded duration-[.4s] ease-in-out hover:scale-[102%] hover:cursor-[url(/White_dot.svg),auto] sm:aspect-[9/5] md:w-[calc(50%-0.5rem)] xl:w-[calc(33.33%-0.5rem)]"
  id={title}
>
  <div
    class="absolute z-10 flex h-full w-full items-center justify-center bg-black/80 text-white opacity-0 duration-[.4s] group-hover/article:opacity-100 md:text-sm"
  >
    <div
      class="pointer-events-none hidden h-[90%] w-10/12 flex-col justify-between group-hover/article:pointer-events-auto group-hover/article:flex lg:h-[80%]"
    >
      <div>
        <h3
          class="decoration-3 pt-4 font-primary text-2xl font-medium underline decoration-indigo-400 decoration-dashed underline-offset-4 md:pt-2"
        >
          {title}
        </h3>
        <p class="mt-1">
          {description}
        </p>
      </div>
      <div class="flex items-baseline justify-between gap-3">
        <div class="flex items-center gap-3 xl:gap-4">
          <slot name="techs" />
        </div>
        {
          url ? (
            <a
              class="group/link flex h-11 w-11 items-center justify-center text-4xl text-white duration-300 before:absolute before:h-11 before:w-11 before:rounded-full before:bg-white/30 before:duration-300  before:hover:scale-110 before:hover:bg-white/70"
              href={url}
            >
              <ExternalLink applyDarkMode={false} classes="w-7 h-7 " />
            </a>
          ) : null
        }
      </div>
    </div>
  </div>
  {/*<!-- only webp - 462 kB transferred 546 kB resources -->*/}
  <Image
    src={imageUrl}
    alt={imageAlt}
    transition:name={"project-image-" + slug}
    class="pointer-events-none absolute z-0 h-full w-full object-cover opacity-90 grayscale-[0.3] transition-all duration-[.4s] group-hover/article:blur-[2px]"
  />

  {
    /*<!-- 333kB transfered 409kB resources -->
  <picture>
    <source srcset={"/avif/" + imageName + ".avif"} type="avif" />
    <source srcset={"/webp/" + imageName + ".webp"} type="webp" />
    <img
      src={"/webp/" + imageName + ".webp"}
      alt={imageAlt}
      transition:name={"project-image-" + slug}
      class="pointer-events-none absolute z-0 h-full w-full object-cover opacity-90 grayscale-[0.3] transition-all duration-[.4s] group-hover/article:blur-[2px]"
      loading="lazy" width="1200" height="900"
      decoding="async"
    />
  </picture>*/
  }
</article>
