---
import { getCollection } from "astro:content"
import Project from "./Project.astro"
import { useTranslations } from "../i18n/utils"
import techLogoAnchors from "../scripts/tech-logo-anchors"

const lang = Astro.params.language
const t = useTranslations(lang)

const allProjects = (await getCollection("project")).sort((p0, p1) => p0.data.position - p1.data.position)
---

<section id="projects" class="mb-5 scroll-mt-24 px-7 pt-6">
  <h2 class="mb-11 text-center font-heming text-5xl font-bold">{t("Projects")}</h2>
  <div class="flex flex-wrap gap-3">
    {
      allProjects.map(project => (
        <Project
          title={project.data.title}
          description={project.data.smallDescription[lang]}
          imageUrl={project.data.imageUrl}
          imageName={project.data.imageName}
          imageAlt={project.data.imageAlt}
          url={"/" + lang + "/project/" + project.slug}
          slug={project.slug}
        >
          {project.data.techLogoNames.map(techLogoName => (
            <Fragment slot="techs" set:html={techLogoAnchors[techLogoName]} />
          ))}
        </Project>
      ))
    }
  </div>
</section>
